body
{
    background-color: #9fd4aaff;
    font-family: Arial, Helvetica, sans-serif;
    
}

.border-white {
    border-color: rgba(233, 239, 192, 0.75) !important;
 }

.verdeclaro{
    background-color: #9fd4aaff;
}

.verdemedio
{
    background-color: #83bd75ff;
}

.verdeforte{
    background-color: #48a460ff;
}

.botoes{
    width: 250px;
}

